button{
    background-color: cornsilk;
    transition-duration: 0.4s;
    border-radius: 8px;
}

 body{
        background-color: #E9ECEF;
      }
      h1{
        text-align: center;
      }

      
  .card-deck{
    border-style: none;
 margin-bottom: 20px;
  }

  h1{
    margin-top: 50px;
  }